* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/* REMOVES BULLET POINTS FROM UNORDERED LIST ITEMS */
ul {
  list-style-type: none;
}
/* REMOVES UNDERLINE FROM LINKS */
a:link {
  text-decoration: none;
}
/* REMOVES COLOR FROM VISITED LINKS */
a:visited {
  color: black;
}
.student-section,
.intro {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.student-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.student-photo {
  width: 55%;
  margin: auto;
}
.student-intro {
  margin-top: 25px;
  margin-bottom: 50px;
}
nav {
  margin-bottom: 25px;
}
.main-nav, 
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background-color: whitesmoke;
}
.main-nav ul li {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 25px;
  /* margin-left: 16px; */
  text-align: center;
}
#portfolio,
#contact {
  text-align: center;
}
.portfolio-section{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.col {
  display: flex;
  flex-direction: column;
}
img {
  margin: 5%;
}
p, h3 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
p {
  margin-top: 0px;
}
.contact, 
footer {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding-top: 50px;
}
.contact-paragraph {
  width: 95%;
  margin: 0 10px 20px 10px;
}
span {
  font-weight: bold;
}
.bottom-nav {
  display: flex;
  display: inline-block;
  border-top: 1px solid lightgrey;
  padding-top: 25px;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0;
  justify-content: space-between;
}
.bottom-links {
  display: none;
}
.student-name-bottom, 
.back-to-top {
  display: inline-block;
}
.back-to-top {
  margin: 0;
  text-align: right;
}







/* =============MEDIA QUERIES=============== */


/* ================TABLET====================== */

@media (min-width: 768px) {
  
  .student-name {
    display: inline-block;
    margin-bottom: 0;
  }
  /* sets nav links in row direction */
  .main-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .intro {
    flex-direction: row;
  }
  /* WHY ISN'T THIS ALLOWING ME TO PLACE THEM SIDE BY SIDE? */
  .student-photo,
  .student-intro {
    display: inline-block;
  }
  .student-photo {
    order: 1;
    width: 40%;
    margin-right: 25px;
    margin-bottom: 50px;
  }
  .student-intro {
    width: 45%;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    text-align: left;
  }
  /* I DON'T UNDERSTAND WHAT'S HAPPENING HERE! WHY CAN'T THE COLOR CHANGE? */
  .main-nav ul li {
    background-color: whitesmoke;
  }
  #portfolio {
    display: block;
    margin-top: 0;
    margin-left: 320px;
  }
  .portfolio-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    width: 50%;
    /* IF I HAVE CREATED ENOUGH SPACE FOR A SECOND COLUMN, AND I CHANGE THE DIRECTION TO ROW, WHY DOES IT REMAIN IN COLUMN?  */
    /* display: inline-block; */
    /* flex-grow: 1; */
  }
  .contact-paragraph {
    width: 95%;
    padding-left: 150px;
    padding-right: 130px;
  }
  .bottom-nav {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-around; */
  }
  .student-name-bottom {
    margin-right: auto;
  }
  /* WHY DID I HAVE TO MANUALLY CREATE SPACE WITH PADDING AND SPACE-AROUND DID NOT WORK? */
  .bottom-links {
    display: inline;
    padding: 0 10px;
    /* justify-content: space-around; */
  }
  .back-to-top {
    display: none;
  }
}


/* ================DESKTOP===================== */
@media (min-width: 1024px) {
  header,
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .student-name {
    margin-left: 40px;
  }
  /* WHY CAN'T I CHANGE THE COLOR? IS IT SOMETHING IN THE CASCADE?*/
  .top-links {
    background-color: whitesmoke;
    display: inline;
    /* margin-left: 75px; */
  }
  .student-intro {
    margin-left: 30px;
    margin-right: 15px;
  }
  .portfolio-section {
    padding-left: 75px;
    /* padding-right: 75px; */
  }
  #portfolio {
    height: 27px;
    margin-left: 400px;
    margin-right: 300px;
  }
  .col {
    width: 30%;
  }
  .contact-paragraph {
    padding-left: 275px;
    padding-right: 250px;
  }
  .bottom-nav {
    margin-bottom: 25px;
  }
  footer {
    padding: 50px;
    padding: 50px;
  }
}




/* @media (min-width: 1024px) {
  .student-name,
  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .student-name {
    margin-bottom: 0;
  }

  .main-nav {
    margin-top: 0;
    WHY DOES THIS WORK INCORRECTLY? 
    justify-content: right;
  }

  .student-photo,
  .student-intro {

    NOTHING I AM ATTEMPTING IS WORKING
    display: flex;
    flex-direction: row; 
  }
  
}  */