* {
  box-sizing: border-box;
}
/* REMOVES BULLET POINTS FROM UNORDERED LIST ITEMS */
ul {
  list-style-type: none;
}
/* REMOVES UNDERLINE FROM LINKS */
a:link {
  text-decoration: none;
}
/* REMOVES COLOR FROM VISITED LINKS */
a:visited {
  color: black;
}
.top-links {
  background-color: white;
}
.student-section {
  background-color: whitesmoke;
}
.portfolio-section{
  background-color: white;
}
.footer-section {
  background-color: whitesmoke;
}