* {
  box-sizing: border-box;
}
/* REMOVES BULLET POINTS FROM UNORDERED LIST ITEMS */
ul {
  list-style-type: none;
}
/* REMOVES UNDERLINE FROM LINKS */
a:link {
  text-decoration: none;
}
/* REMOVES COLOR FROM VISITED LINKS */
a:visited {
  color: black;
}
.student-section {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.student-name {
  text-align: center;
}
.top-links {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 16px;
  text-align: center;
}
.portfolio-section{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
/* .portfolio-section img {
  flex-grow: 1;
  flex-basis: 200px;
} */
.footer-section {
  background-color: whitesmoke;
  padding: 50px;
}
.bottom-links {
  display: none;
}














/* =============MEDIA QUERIES=============== */


/* ================TABLET====================== */

/* @media (min-width: 768px) {
  .student-name {
    display: inline-block;
  }
  .student-section {
    display: flex;
  }
  .main-nav {
    display: flex;
  }
} */


/* ================DESKTOP===================== */

/* @media (min-width: 1024px) {

} */